@model Client.Models.ViewModels.PlantViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<div class="row">
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="row">
        <div class="col-md-6">
            <h4>Plant Info</h4>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlantName" class="control-label"></label>
                <input asp-for="PlantName" class="form-control" />
                <span asp-validation-for="PlantName" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsFlowerBearing" /> @Html.DisplayNameFor(model => model.IsFlowerBearing)
                </label>
            </div>

                <div class="form-group">
                    <label asp-for="PlantPrice" class="control-label"></label>
                    <input asp-for="PlantPrice" class="form-control" />
                    <span asp-validation-for="PlantPrice" class="text-danger"></span>
                </div>
           
            <div class="form-group mt-2 mb-2">
                <input onchange="ReadUrl(this)" type="file" name="ProfileFile" id="ProfileFile" class="form-control" />
                    <img id="ImgFile" src="@Url.Content("~/images/noimage.png")" alt="alt" width="80" class="mt-2" />
            </div>
          

        </div>

       
        <div class="col-md-6">
            <h4>Care Types</h4>
            <button type="button" onclick="AddPct()" class="btn btn-outline-success btn-sm">Add New</button>
             
            @Html.Partial("_AddPlantCares", Model.PlantCareTypes)
        </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </form>
</div>



<script src="~/jquery/jquery.min.js"></script>
<script>
    function ReadUrl(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#ImgFile').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    function AddPct()
    {
        var newRow=`
        <tr class="mb-3">
       <td>
                        <input type="text" class="form-control" name="PlantCareTypes[${$("#Pct tbody tr").length}].InsecticideName"  />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="PlantCareTypes[${$("#Pct tbody tr").length}].Fertilizer"  />
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" onclick="DeleteRow(this)">Remove</button>
                    </td>
        </tr>
        `;
        $("#Pct tbody").append(newRow);
        UpdatePlantCareTypesIndex();
    }
    function UpdatePlantCareTypesIndex(){
        $("#Pct tbody tr").each(function (index) {
            $(this).find("input[name^=PlantCareTypes]").each(function () {
                var name = $(this).attr("name");
                if (name) {
                    var newName = name.replace(/PlantCareTypes\[\d+\]/, `PlantCareTypes[${index}]`);
                    $(this).attr("name", newName);
                }
            });
        });
    }
    function DeleteRow(button) {
        $(button).closest("tr").remove();
        UpdatePlantCareTypesIndex();
    }
</script>

